<!DOCTYPE html>
<html dir="ltr" lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
	<title>あなたの本棚</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<!-- <link rel="stylesheet" href="style.css" type="text/css" media="screen"> -->
	<link th:href="@{/style/style.css}" rel="stylesheet">
	<link th:href="@{/style/bootstrap.css}" rel="stylesheet">
	<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<![endif]-->
	<script th:src="@{js/jquery1.7.2.min.js}"></script>
	<script th:src="@{js/script.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<script type="text/javascript">
		//ページ読み込み直後のfunction実行
		//ユーザー情報取得
		document.addEventListener("DOMContentLoaded", getUser("[[${id}]]"));
		//本棚情報取得
		document.addEventListener("DOMContentLoaded", getBooks("[[${id}]]", "[[${bookshelfId}]]"));

		function goToTop() {
			goToPageById("/top", "[[${id}]]");
		}

		function goToBookshelf(bookshelfTableId) {
			goToPage("/bookshelf", "?id=" + encodeURIComponent("[[${id}]]") + "&bookshelfId=" + encodeURIComponent(getBookshelfId(bookshelfTableId)));
		}


	</script>
</head>

<body id="top">

	<header id="header">
		<h1>Yomon kitob o'qish uchun hayot juda qisqa</h1>
		<!-- ロゴ -->
		<div class="logo">
			<a href="javascript:goToTop();">
				<p>あなたの本棚<span>eng yaxshi o'qish hayotingiz uchun</span></p>
			</a>
		</div>
		<!-- / ロゴ -->
	</header>

	<div id="wrapper">
		<div style="text-align: right">
			<h6>ログイン中： <span id="id"></span> </span><span id="name"></span></h6>
		</div>
		<!-- コンテンツ -->
		<section id="main">
			<section class="content">
				<h3 class="heading"><a href="javascript:goToBookshelf();">欲しい本棚</a></h3>
				<article>
					<div class="bs-component">
						<table class="table table-hover table-striped" id="wish-books">
							<thead>
								<tr>
									<th scope="col">書名</th>
									<th scope="col">著者</th>
									<th scope="col">出版社</th>
									<th scope="col">登録日時</th>
								</tr>
							</thead>
							<tbody>
								<tr class="table-light">
									<th scope="row">Default</th>
									<td>Column content</td>
									<td>Column content</td>
									<td>Column content</td>
								</tr>
							</tbody>
						</table>
					</div>
				</article>
			</section>
		</section>
		<!-- / コンテンツ -->

		<aside id="sidebar">
			<h3 class="heading">本棚一覧</h3>
			<article>
				<ul class="list">
					<li><a href="javascript:goToBookshelf('wish-books');"><img src="images/sample2.jpg" width="42"
								height="42" alt="">欲しい本棚</a>
					</li>
					<li><a href="javascript:goToBookshelf('read-books');"><img src="images/top_m2.jpg" width="42"
								height="42" alt="">読んでいる本棚</a>
					</li>
					<li><a href="javascript:goToBookshelf('collect-books');"><img src="images/sample1.jpg" width="42"
								height="42" alt="">今の本棚</a></li>
				</ul>
			</article>
		</aside>

	</div>

	<address>Copyright(c) 2013 Sample Inc. All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank"
			rel="nofollow">http://f-tpl.com</a></address>

</body>

</html>