<!DOCTYPE html>
<html dir="ltr" lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
	<title>あなたの本棚</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link th:href="@{/style/style.css}" rel="stylesheet">
	<link th:href="@{/style/bootstrap.css}" rel="stylesheet">
	<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<![endif]-->
	<script th:src="@{js/jquery1.7.2.min.js}"></script>
	<script th:src="@{js/script.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<script type="text/javascript">
		function call_login(item) {
			console.log("call_login");
			//リクエスト詰め替え
			const form = document.forms.login_form;

			console.log($('form').serializeArray());
			requestJson = parseJson($('form').serializeArray());
			console.log(requestJson);

			async function execute(path, requestJson) {
				const response = await sendRequest(path, requestJson);
				await handleResponse(response);

				//ログイン結果チェック
				if (response.status === 200) {
					//チェックOKの場合画面遷移する
					console.log("response:OK");
					goToPage("/view/top");
				} else {
					console.log("response:ng");
					//invalidクラスを追加
					//エラーメッセージをセット
				}
			}

			//ログインする fetch使用
			const response = execute('/user/login', requestJson);
		}

	</script>
	<style type="text/css">
		.bs-component+.bs-component {
			margin-top: 1rem;
		}

		@media (min-width: 768px) {
			.bs-docs-section {
				margin-top: 3em;
			}

			.bs-component {
				position: relative;
			}

			.bs-component .modal {
				position: relative;
				top: auto;
				right: auto;
				bottom: auto;
				left: auto;
				z-index: 1;
				display: block;
			}

			.bs-component .modal-dialog {
				width: 90%;
			}

			.bs-component .popover {
				position: relative;
				display: inline-block;
				width: 220px;
				margin: 20px;
			}

			.nav-tabs {
				margin-bottom: 15px;
			}

			.progress {
				margin-bottom: 10px;
			}
		}
	</style>
</head>

<body>

	<header id="header">
		<h1>Yomon kitob o'qish uchun hayot juda qisqa</h1>
		<!-- ロゴ -->
		<div class="logo">
			<a href="index.html">
				<p>あなたの本棚<span>eng yaxshi o'qish hayotingiz uchun</span></p>
			</a>
		</div>
		<!-- / ロゴ -->
	</header>

	<div id="wrapper">
		<!-- 3カラム -->
		<section class="gridWrapper">
			<article class="grid">
				<div class="box">
					<img src="images/top_m1.jpg" width="290" height="290" alt="">
					<!-- <h3>自然との調和を目指す企業です</h3>
					<p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
					<p class="readmore"><a th:href="@{/subpage.html}">詳細を確認する</a></p> -->
					<p></p>
				</div>
			</article>
			<article class="grid">
				<div class="box" width="290" height="290">
					<section class="bs-docs-section">
						<div class="row">
							<div class="col-lg-12">
								<div class="page-header">
									<h5 id="forms">ログイン</h5>
								</div>
							</div>
						</div>
						<form name="login_form">
							<fieldset name="login_fieldset">
								<div class="form-group">
									<label for="exampleInputEmail1">メールアドレス</label>
									<input type="email" class="form-control" id="exampleInputEmail1"
										name="exampleInputEmail1" aria-describedby="emailHelp"
										placeholder="Enter email">
									<small id="emailHelp" class="form-text text-muted">We'll never share your email with
										anyone
										else.</small>
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">パスワード</label>
									<input type="password" class="form-control" id="exampleInputPassword1"
										name="exampleInputPassword1" placeholder="Password">
								</div>
							</fieldset>
							<button type="button" class="btn btn-primary" onclick="call_login()">ログイン</button>
						</form>
					</section>
					<section class="bs-docs-section">
						<div class="row">
							<div class="col-lg-12">
								<a href="#">新規登録はこちら</a>
							</div>
						</div>
					</section>
					<!-- <img src="images/top_m2.jpg" width="290" height="290" alt="">
					<h3>自然との調和を目指す企業です</h3>
					<p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
					<p class="readmore"><a th:href="@{/subpage.html}">詳細を確認する</a></p> -->
				</div>
			</article>
			<article class="grid">
				<div class="box">
					<img src="images/top_m3.jpg" width="290" height="290" alt="">
					<!-- <h3>自然との調和を目指す企業です</h3>
					<p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
					<p class="readmore"><a th:href="@{/subpage.html}">詳細を確認する</a></p> -->
					<p></p>
				</div>
			</article>
		</section>
		<!-- / 3カラム -->
	</div>

	<address>Copyright(c) 2013 Sample Inc. All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank"
			rel="nofollow">http://f-tpl.com</a></address>

</body>

</html>